.imgProductAdmin{
    width: 64px;
    height: 64px;
}
.summaryProductAdmin{
        width: 400px;
}
@media (max-width:882px){
    .editProductAdmin, .deleteProductAdmin{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
    }
    .editProductAdmin{
        margin-bottom: 3px;
    }
}
@media( max-width:430px){
    .imgProductAdmin{
        width: 45px;
        height: 45px;
    }
    .editProductAdmin i, .deleteProductAdmin i{
        font-size: 11px !important;
    }
    .productAdmin td{
        font-size: 8px !important;
    }
    .productAdmin th{
        font-size: 9px !important;
    }
    .editProductAdmin, .deleteProductAdmin{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
    }
}
@media (max-width:391px){
    .summaryProductAdmin{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        width: 65px;
    }
}

@media (max-width:360px){
    .imgProductAdmin{
        width: 40px;
        height: 40px;
    }
    .editProductAdmin, .deleteProductAdmin{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
    }
    .editProductAdmin i, .deleteProductAdmin i{
        font-size: 10px !important;
    }
    .productAdmin td{
        font-size: 8px !important;
    }
    .summaryProductAdmin{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        width: 65px;
    }
}
