.detail_order_admin p,.delete_order_admin p{
    display: inline;
}
@media(max-width:1280px){
    .detail_order_admin p,.delete_order_admin p{
        display: none;
    }
}
@media(max-width:1230px){
    .detail_order_admin{
        margin-bottom: 3px;
    }
}
@media(max-width:800px){
    .orderAdmin th, .orderAdmin td{
        font-size: 14px;
    }
}
@media(max-width:600px){
    .orderAdmin th, .orderAdmin td{
        font-size: 12px;
    }
    .orderAdmin td select{
        font-size: 11.5px;
    }
    .delete_order_admin i, .detail_order_admin i{
        font-size: 12px !important;
    }
    .delete_order_admin, .detail_order_admin{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px !important;
        width: 35px !important;
    }
}
@media(max-width:548px){
    .orderAdmin th, .orderAdmin td{
        font-size: 10px;
    }
    .orderAdmin td select{
        font-size: 11px;
    }
    .delete_order_admin i, .detail_order_admin i{
        font-size: 11.5px !important;
    }
    .delete_order_admin, .detail_order_admin{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px !important;
        width: 30px !important;
    }
    .hideOrderAdmin{
        display: none;
    }
}
@media(max-width:400px){
    .orderAdmin th, .orderAdmin td{
        font-size: 9.5px;
    }
    .orderAdmin td select{
        font-size: 10px;
    }
    .orderAdmin td select option{
        font-size: 8px !important;
    }
    .delete_order_admin i, .detail_order_admin i{
        font-size: 10px !important;
    }
    .delete_order_admin, .detail_order_admin{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20px !important;
        width: 20px !important;
    }
}