.login{
  border: none;
  background-color: transparent;
  border-radius: 0%;
  box-shadow: none;
}
.curtain-login{
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  visibility: visible;
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 39em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#email,#password{
  background-color: transparent;
  border-radius: 0;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom:2.5px solid white;
  height: 30px;
  color: rgb(223, 219, 219);
}
.form-control-label{
  color: rgb(223, 219, 219);
  margin-top: 10px;
}
.have-account{
  color: rgb(223, 219, 219);
}
.text-center{
  color: rgb(223, 219, 219);
}
#signuphere{
  color: rgb(141, 177, 245);
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.signup{
  box-shadow: rgba(0,0,0,0.1) 0 0 10px;
  opacity: 0.85;
  background-color:  #ffffff;
  margin-top: 50px;
  margin-bottom: 5%;

}

.bglogin{
  background-image: url('/login/bg-login1.webp');
  background-repeat: no-repeat;
  background-size:cover;
  overflow: hidden;
  /* object-fit: cover; */
  background-position: center ;
  height: 39em;

}

.login-err{
  font-size: small !important;
   padding-left: 15px !important;
    margin-bottom: 5px !important;
    opacity: 1;

}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #ffffff !important;
}

@media (max-width: 991px){
  
  .form-control:focus {
    background-color: transparent !important;
  }
}
