.select-menu-order span {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
}

.select-menu-order .active span {
    color: #ee4d2d;
    border-bottom: #ee4d2d solid 2px;
}
.button_detail{
    margin-right: 5px;
}
@media(max-width:645px){
    .table th{
        font-size: 14px;
    }
    .table td{
        font-size: 14px;
    }
    .select-menu-order span{
        font-size: 14px;
    }
}
@media(max-width:596px){
    /* .button_detail{
        margin-bottom: 3px;
        margin-right: 0px;
    } */
}
@media(max-width:560px){
    .button_detail{
        margin-bottom: 0px;
        margin-right: 2px;
    }
    .select-menu-order span{
        font-size: 12px !important;
        display: block;
    }
    .table th{
        font-size: 12px;
    }
    .table td{
        font-size: 12px;
    }
    .select-menu-order span{
        font-size: 14px;
    }
    .button_detail, .button_cancel{
        font-size: 11px !important;
        width: 20px !important;
        height: 25px !important;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
}
@media(max-width:550px){
    .select-menu-order span{
        font-size: 10px !important;
        display: block;
    }
}
@media(max-width:512px){
    .button_detail{
        margin-bottom: 0px;
        margin-right: 2px;
    }
    .select-menu-order span{
        font-size: 9px !important;
        display: block;
    }
}
@media(max-width:430px){
    .button_cancel, .button_detail{
        margin: 1px;
    }
}
@media (max-width:360px){
    .select-menu-order span{
        font-size: 8.5px !important;
        display: block;
    }
    .table th{
        font-size: 10px;
    }
    .table td{
        font-size: 10px;
    }
    .button_detail, .button_cancel{
        font-size: 9px !important;
        width: 15px !important;
        height: 22px !important;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
}
