.bgregister{
    background-image: url('/login/bg-login1.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    overflow: hidden;
    /* object-fit: cover; */
    background-position: center ;
    height: 65em;
}
.curtain-register{
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    visibility: visible;
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 65em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#email,#password,#firstName,#lastName,#address,#phone,#confirmPassword{
    background-color: transparent;
    border-radius: 0;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom:2.5px solid white;
    height: 30px;
    color: rgb(223, 219, 219);
  }