.change-pass {
    text-align: center;
    padding: 30px;
    margin-top: 100px;
    margin-bottom: 70px;
    opacity: 0.81;
}

.user-changepass {
    display: flex;
    justify-content: center;
}
@media (max-width:580px){
    .change-pass {
        background-color: transparent;
        box-shadow: none;
        border: none;
        opacity: 1;
    }
}
