.main{  
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.image{
    max-height: 800px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
#image{
    max-height: 800px;
    width: 100%;
    animation: animate 30s infinite;
    object-fit: cover;   
}

.centered1::after{
    content: "";
    text-align: center;
    display: block;
    font-size: 2.5vw;
    opacity: 0;
    color: white;
    position: absolute;
    top: 44%;
    left: 50%;
    animation: animatetext 30s infinite;
    transform: translate(-50%, -50%);
  }
.centered2::after{
    content: "";
    text-align: center;
    display: inline;
    font-size: 2.5vw;
    opacity: 0;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: animatetext2 30s infinite;
    transform: translate(-50%, -50%);
}
@keyframes animatetext{
    5%{
        content: "The art and science ";
        opacity: 0;
    }
    12%{
        content: "The art and science ";
        opacity: 1;
    }
    33%{
        content: "The art and science ";
        font-family: sans-serif;
        opacity: 1;
    }
    34%{
        content: "";
        opacity: 0;
    }
    39%{
        content: "Relaxation ";
        opacity: 0;
    }
    46%{
        content: "Relaxation ";
        font-family: "Nothing You Could Do";
        opacity: 1;
    }
    66%{
        content: "Relaxation ";
        font-family: "Nothing You Could Do";
        opacity: 1;
    }
    67%{
        content: "";
        opacity: 0;
    }
    72%{
        content: "Relaxation ";
        font-family: "Nothing You Could Do";
        opacity: 0;
    }
    79%{
        content: "Relaxation ";
        font-family: "Nothing You Could Do";
        opacity: 1;
    }
    100%{
        content: "Relaxation ";
        font-family: "Nothing You Could Do";
        opacity: 1;
    }
}
@keyframes animatetext2{
    5%{
        content: "of pure flower and plant essences  ";
        opacity: 0;
    }
    12%{
        content: "of pure flower and plant essences  ";
        opacity: 1;
    }
    33%{
        content: "of pure flower and plant essences  ";
        opacity: 1;
    }
    34%{
        content: "";
        opacity: 0;
    }
    39%{
        content: "No longer beyond your budget ";
        opacity: 0;
    }
    46%{
        content: "No longer beyond your budget ";
        opacity: 1;
    }
    66%{
        content: "No longer beyond your budget ";
        opacity: 1;
    }
    67%{
        content: "";
        opacity: 0;
    }
    72%{
        content: "Peace. Rejuventation. Relaxation ";
        opacity: 0;
    }
    79%{
        content: "Peace. Rejuventation. Relaxation ";
        opacity: 1;
    }
    100%{
        content: "Peace. Rejuventation. Relaxation ";
        opacity: 1;
    }
}
@keyframes animate{
    0% {
        content: url(/slide1-bg.jpg);
        transform: scale(1);
    }
    33% {
        content: url(/slide1-bg.jpg);
        transform: scale(1.4);
    }
    34% {
        content: url(/slide2-bg.jpg);
        transform: scale(1.4);
    }
    66% {
        content: url(/slide2-bg.jpg);
        transform: scale(1);
    }
    67% {
        content: url(/slider_3.jpg);
        transform: scale(1.4);
    }
    100% {
        content: url(/slider_3.jpg);
        transform: scale(1);
    }
}
@media (max-width:991px){
    @keyframes animate{
        0% {
            content: url(/slide1-bg.jpg);
            transform: scale(1);
            height: 340px ;
        }
        33% {
            content: url(/slide1-bg.jpg);
            transform: scale(1.4);
            height: 340px ;
        }
        34% {
            content: url(/slide2-bg.jpg);
            transform: scale(1.4);
            height: 340px ;
        }
        66% {
            content: url(/slide2-bg.jpg);
            transform: scale(1);
            height: 340px ;
        }
        67% {
            content: url(/slider_3.jpg);
            transform: scale(1.4);
            height: 340px ;
        }
        100% {
            content: url(/slider_3.jpg);
            transform: scale(1);
            height: 340px ;
        }
    }
}
@media (max-width:560px){
    @keyframes animate{
        0% {
            content: url(/slide1-bg.jpg);
            transform: scale(1);
            height: 250px ;
        }
        33% {
            content: url(/slide1-bg.jpg);
            transform: scale(1.4);
            height: 250px ;
        }
        34% {
            content: url(/slide2-bg.jpg);
            transform: scale(1.4);
            height: 250px ;
        }
        66% {
            content: url(/slide2-bg.jpg);
            transform: scale(1);
            height: 250px ;
        }
        67% {
            content: url(/slider_3.jpg);
            transform: scale(1.4);
            height: 250px ;
        }
        100% {
            content: url(/slider_3.jpg);
            transform: scale(1);
            height: 250px ;
        }
    }
}
