.contact {
	margin-bottom: 100px;
}
.contact-slide-bar {
	width: 100%;
	height: 505px;
	background-image: url(/contact/bg1.jpg);
	overflow: hidden;
	background-position: center center;
	background-size: cover;

	/*background-color: rgb(102, 102, 102);*/
}

.backgroup-dark {
	opacity: 1;
	z-index: 1;
	background: rgba(0, 0, 0, 0.1);
	position: absolute;
	width: 100%;
	height: 505px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #333333;
}

.backgroup-dark h1 {
	font-weight: 300px !important;
	font-size: 50px;
	color: white;
}

.text-contact {
	padding: 60px 90px;
	font-family: Rubik, Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	color: #333333;
	border-color: #333333;
}

.text-contact h2 {
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 2px;
	margin-bottom: 30px;
}

.text-contact h3 {
	font-size: 18px;
	font-weight: 300;
	display: inline-block;
	line-height: 36px;
	overflow-wrap: break-word;
	text-align: center;
}

.contact-map {
	display: block;
	min-height: 600px;
}

.card_two_cols {
	position: relative;
	padding: 40px 0 40px 0;
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.one_half {
	width: 40%;
	padding: 40px;
	z-index: 2;
	/*position:absolute;*/
	background: rgb(255, 255, 255);
	transform: translate3d(0px, 11.5425px, 0px);
	box-shadow: 0 22px 40px rgba(0, 0, 0, 0.15);
	margin-left: 100px;
}

.one_half h2 {
	font-family: Rubik, Helvetica, Arial, sans-serif;
	font-size: 44px;
	font-weight: 300;
	display: block;
	letter-spacing: -2px;
	line-height: 61.6px;
	margin-bottom: 20px;
}

.one_half p {
	font-family: Rubik, Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	display: block;
	padding-top: 0.7em;
	padding-bottom: 1.3em;
}

.one_half a {
	font-family: Rubik, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.8;
	color: #666666;
	font-weight: 500;
	letter-spacing: 2px;
	text-transform: uppercase;
	display: inline-block;
	border-bottom: 1px solid #222;
}

.one_half a:hover {
	text-decoration: none;
	color: #000;
}

.two_half {
	/*position:absolute;*/
	max-width: 800px;
	background: rgb(255, 255, 255);
	transform: translate3d(0px, 11.5425px, 0px);
	box-shadow: 0 22px 40px rgba(0, 0, 0, 0.15);
}

.contact-box {
	font-family: Rubik, Helvetica, Arial, sans-serif;
	color: #333333;
	width: 90%;
	/* display: inline-block; */
	margin: auto !important;
}

.contact-box .box1 {
	padding-right: 40px;
}

.contact-box .box1 ul {
	list-style: none;
}

.contact-box-p-1 {
	display: inline-block;
	font-size: 20px;
	padding: 20px 0px 30px 0px;
	font-weight: 400;
	line-height: 36px;
	color: #666666;
}

.contact-box-h2-1,
.contact-box-h2-2 {
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 2px;
	line-height: 21px;
}

.contact-box-p-2 {
	display: inline-block;
	font-size: 14px;
	padding: 10px 0px 20px;
	font-weight: 400;
	line-height: 36px;
	color: #666666;
}

.contact-box-p-3 {
	color: rgb(239, 166, 151);
	cursor: pointer;
	font-style: normal;
	font-weight: 400;
	letter-spacing: -1px;
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 60px;
}

.list-icons {
	display: flex;
	justify-self: center;
	align-items: center;
	padding-inline-start: 0 !important;
}

.list-icons li {
	height: 40px;
	width: 40px;
	margin-right: 10px;
}

.list-icons li a {
	display: block;
	width: 40px;
	height: 40px;
	color: #fff !important;
	border-radius: 250px;
	line-height: 42px;
	text-align: center;
}

.contact-box .box2 {
	padding: 40px;
	box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.contact-box2-h2 {
	font-weight: 200;
	letter-spacing: -2px;
	color: #333333;
	font-size: 44px !important;
}

.contact-box2-p {
	letter-spacing: 2px;
	text-transform: uppercase;
	color: rgb(153, 153, 153);
	opacity: 0.8;
	margin-top: 15px;
}

.contact-box .box2 input {
	padding: 10px;
	border-color: rgb(220, 224, 224);
	margin: 14px 0px;
	width: 80%;
	display: inline-block;
}

.contact-box .box2 textarea {
	width: 80%;
	display: inline-block;
	margin: 14px 0px;
}

.contact-box .box2 button {
	background-color: rgb(239, 166, 151);
	color: white;
	font-size: 14px;
	border-radius: 5px;
	border: none;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	padding: 0.6em 2.5em 0.6em 2.5em;
}

.contact-box .box2 button:hover {
	background-color: #495057;
}
@media (max-width:360px){
	.text-contact h2{
		margin-top: 20px;
	}
	.text-contact{
		padding:10px 29px;
	}
	.text-contact h3{
		text-align: center;
		font-size: 13.5px;
	}
	.contact-box .box1{
		padding-left: 0px!important;
	}
	.contact-box-h2-4{
		font-size: 24px;
		text-align: center;
		margin-bottom: 10px;
	}
	.contact-box2-h2{
		font-size: 32px !important;
	}
	.contact-box2-p{
		font-size: 13px !important;
	}
}
