.ContentHome{
    margin-bottom: 1px;
}
.serviceTitle{
    font-size: 32px;
    text-transform: none;
    font-weight: 280;
    letter-spacing: -1px;
    color: #333333;
    text-align: center;
    margin-top: 30px;
    line-height: 1.4;
    font-family: Rubik, Helvetica, Arial, sans-serif;
}
.tagLine{
    margin-top: 15px;
    font-family: Rubik, Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 12px;
    color: #999999;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
}
.divider{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    border-top: 1px solid #e1e1e1;
    width: 100px;
}
.underServiceTitle{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
}
.iconLeaf{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #efa697;
}
.cardService img{
    max-width: 100%;
    height: auto;
    min-height: 242.48px;
    padding: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.cardService{
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 3px;
    border-bottom: 3px solid #ffffff;
    transition: 0.7s;
}
.cardService:hover{
    transform: translateY(-5px);
    transition: 0.9s;
    border-bottom: 3px solid #efa697;
    position: relative;
    top:-1px;
}
.serviceContent{
    text-align: center;
    padding: 30px;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}
.serviceContent p{
    color: #666666;
}
.serviceContent h3{
    color: #333333;
}
.serviceContent a{
    text-decoration: none !important;
    color: #666666 !important;
}
.readmore{
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 1px solid #222;
}
.overlay_background{
    background-image: url(/8.webp);
    background-position: center center;
    background-size: cover;
    background-attachment:scroll;
    height: 30em;
}
.overlay_background1 h2{
    color: #ffffff;
    font-weight: 400;
    font-size: 40px;
}
.comex{
    color: #ffffff;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
}
.overlay_background1{
    background: rgba(0,0,0,0.3);
    z-index: 1;
    visibility: visible;
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.secret_text{
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: left;
    padding-right: 20px;
    border-radius: 3px;
}
.secret_text h2{
    color: #3f3e3e;
    font-size: 40px;
    line-height: 1.4;
    font-weight: 400;
    margin-bottom: 25px;
}
.secret_text p{
    color: #666666;
    font-size: 14.5px;
    letter-spacing: 0.5px;
    font-weight: 450;
}
.secret_text a{
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 1px solid #222;
    text-decoration: none !important;
    color: #666666 !important;
    margin-top: 20px;
    margin-bottom: 30px;

}
.secret_img{
    background-image: url(/4.webp);
    background-attachment: scroll;
    background-size: cover;
    background-position: center center;
    padding-left: 20px;
    border-radius: 3px;
    width: 100%;
    height: 100%;
}
.secret_img_second{
    background-image: url(/10.webp);
    background-attachment: scroll;
    background-size: cover;
    background-position: center center;
    padding-left: 20px;
    border-radius: 3px;
    width: 100%;
    height: 100%;
}
@media (max-width:991px){
    .overlay_background, .overlay_background1{
        height: 340px;
    }
    .overlay_background1 h2{
        font-size: 30px ;
    }
}
@media (max-width: 768px){
    .serviceContent h3{
        font-size: 22px;
    }
    .cardService img{
        min-height: auto;
    }
}
@media (max-width:720px){
    .overlay_background1 h2{
        font-size: 30px;
        text-align: center;
    }
    .comex{
        text-align: center;
    }
}
@media (max-width:560px){
    .serviceTitle{
        font-size: 24px;
    }
    .tagLine{
        font-size: 9px;
    }
    .quote-left{
        font-size: 22px !important;
    }
    .quote-right{
        font-size: 15.4px;
    }
    .cardService img{
        min-height: auto;
    }
    .underServiceTitle{
        margin-top: 20px !important;
        margin-bottom: 50px !important;
    }
    .overlay_background1 h2{
        font-size: 27px ;
    }
    .comex{
        font-size: 10px;
        font-weight: 400;
    }
    .overlay_background, .overlay_background1{
        height: 250px;
    }
    .secret_text h2{
        font-size: 31px ;
    }
}
@media (max-width: 360px){
    .serviceTitle{
        font-size: 24px;
    }
    .tagLine{
        font-size: 9px;
    }
    .quote-left{
        font-size: 22px !important;
    }
    .quote-right{
        font-size: 15.4px;
    }
    .cardService img{
        min-height: auto;
    }
    .underServiceTitle{
        margin-top: 20px !important;
        margin-bottom: 50px !important;
    }
    .overlay_background1 h2{
        font-size: 27px ;
    }
    .comex{
        font-size: 10px;
        font-weight: 400;
    }
    .overlay_background, .overlay_background1{
        height: 250px;
    }
    .secret_text h2{
        font-size: 31px ;
    }
}
