.description_service{
    /* overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; */
    width: 420px;
}
.imgServiceAdmin img{
    width: 100px;
    height: auto;
}
@media(max-width:1175px){
    .editServiceAd{
        margin-bottom: 3px;
    }
    .editServiceAd,.deleteServiceAd{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 37px;
        height: 37px;
    }
}
@media(max-width:560px){
    .imgServiceAdmin img{
        width: 80px;
        height: auto;
    }
    .editServiceAd{
        margin-bottom: 2px;
    }
    .editServiceAd,.deleteServiceAd{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
    }
    .editServiceAd i, .deleteServiceAd i{
        font-size: 12px !important;
    }
    .description_service{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        width: 120px;
    }
}
@media(max-width:450px){
    .imgServiceAdmin img{
        width: 65px;
        height: auto;
    }
    .editServiceAd,.deleteServiceAd{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
    }
    .editServiceAd i, .deleteServiceAd i{
        font-size: 10px !important;
    }
    .description_service{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        width: 80px;
    }
    .serviceAdmin th, .serviceAdmin td{
        font-size: 10px !important;
    }
}
@media(max-width:360px){
    .imgServiceAdmin img{
        width: 50px;
    }
    .editServiceAd,.deleteServiceAd{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
    }
    .editServiceAd i, .deleteServiceAd i{
        font-size: 9px !important;
    }
    .description_service{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        width: 70px;
    }
}