.product{
    margin: 0 10px 0 10px ;
    text-decoration: none !important;
    color: #333333;
}
.product:hover{
    color: #333333;
}
.product img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* margin: 0 20% 0 20%; */
}
.product h3{
    text-align: center;
    margin-top: 30px !important;
    font-size: 22px;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik, Helvetica, Arial, sans-serif;
}
.product p{
    text-align: center;
    font-family: Rubik, Helvetica, Arial, sans-serif;
    color: #EFA697;
    font-size: 1.3em;
    font-weight: 700;
    font-style: inherit;
    vertical-align: baseline;
}
@media( max-width:450px){
    .product img{
        width: 140px;
        height: 140px;
        border-radius: 50%;
        /* margin: 0 20% 0 20%; */
    }
    .product h3{
        font-size: 20px;
    }
    .product p{
        font-size: 18px;
    }
}
@media( max-width:360px){
    .product img{
        width: 110px;
        height: 110px;
        border-radius: 50%;
        /* margin: 0 20% 0 20%; */
    }
    .product h3{
        font-size: 18px;
    }
    .product p{
        font-size: 15px;
    }
    #range-slider{
        font-size: 15px;
    }
}
