.big-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0 5%;
	z-index: 9;
	min-height: 74px;
	vertical-align: middle;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: Rubik, Helvetica, Arial !important;
	transition: 0.6s;
	letter-spacing: 2px;
	font-size: 15px;
	font-weight: 600;
}
.none {
	transition: height 2s;
	display: none !important;
}

.noscroll a {
	color: white;
}

.noscroll a:hover,
.noscroll .dropdown-menu a:hover {
	color: #efa697 !important;
	transition-property: color;
	transition-duration: 1s;
}

.noscroll {
	transition-duration: 1s;
	background-color: none;
	color: white !important;
}

.noscroll .menu1 {
	/*	transition-property: background-color;
	transition-duration: 1s;*/
	background-color: none !important;
}

.noscroll .icon-humbuger {
	color: white;
}

.scroll {
	color: black !important;
	transition-property: color;
	transition-duration: 1s;
	background-color: #f9f9f9 !important;
}

.scroll a {
	transition-property: color;
	transition-duration: 1s;
	color: black !important;
}

.scroll a:hover,
.menu .dropdown-menu a:hover {
	transition-property: color;
	transition-duration: 1s;
	color: #efa697 !important;
}

.scroll .menu1 {
	color: #efa697 !important;
	transition-duration: 1s;
	background-color: #f9f9f9;
}

.scroll .icon-humbuger {
	color: black;
}

.scroll .text-book-menu {
	transition-duration: 1s;
	border: 2px solid #efa697;
	color: #efa697 !important;
}

.logo-normal {
	display: inline-block;
}

.menu {
	min-height: 74px;
	display: inline-flex;
	margin-left: 30px;
}

.menu .dropdown-item {
	color: black !important;
}

/*.menu1{
	background-color: black
}*/

.text-book-menu,
.text-book-menu:hover {
	display: inline-block;
	border: 2px solid rgb(255, 255, 255);
	border-radius: 4px;
	padding: 6px 24px;
	margin-right: 30px;
	text-decoration: none;
}

.icon-cart {
	font-size: 25px;
	cursor: pointer;
}

.logo-right {
	display: inline-flex;
	align-items: center;
}

.menu-log {
	margin-left: 20px;
}

.menu-log {
	margin-left: 20px;
}

.menu-login:hover {
	text-decoration: none;
}

.logo-right .dropdown-menu a {
	color: rgb(67, 61, 59) !important;
}
@media (max-width: 1390px){
	.big-menu{
		font-size: 13.5px;
	}
} 



.div0:hover{
	text-decoration: none;

}
.div1{
    position: relative;
    height: 30px;
    width: 50px;
    padding-top: 6px;
    padding-left: 3px;
}
.div1:hover{
	transform: scale(1.1);
}
.div1 .header-cart-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 20px;
    width: 50px;
}
.div1 .icon-cart-quantity{
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
    height: 18px;
    width: 36px;
	font-size: 10px;
	border: 2px solid #ee4d2d;
    border-radius: 10px;
    margin-top: -25px;
    z-index: 100;
    margin-left: -6px;
    color: #ee4d2d;
}
.div1 .icon-cart-quantity{
	padding: 0 3px 0 3px;

}
@media (max-width:560px){
	.navbar-brand{
		display: none !important;
	}
	.menu1{
		padding:0 !important ;
		margin:0 !important;
		position: relative;
		left: -40px;
	}
	.text-book-menu{
		display: none;
	}
	nav button[aria-expanded="true"]{
		margin-top: 15px !important;
	}
	.nav-item{
		font-size: 10px;
		line-height: 0.9em;
	}
}
@media (max-width: 991px){
	.navbar-brand{
		display: none !important;
	}
	.big-menu{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	.logo-right{
		margin-top: 15px;
	}
}
@media (max-width:360px){
	.dropdown-item{
		font-size: 14px !important;
	}
} 
