
.bill{
    text-align: center;
}
.hideButton{
    margin-bottom: 10px;
    text-align: center;
    border: none;
}
.hideButton p{
    display: inline;
}
.spinnerBooking{
    position: fixed;
    left: 48%;
    top: 50%;
    /* display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto; */
}
@media (max-width:800px){
    /* .hideUsed{
        display: none;
    } */
    /* .bill{
        text-align: unset;
    } */
    .hideButton p{
        display: none;
    }
    .hideButton{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
        height: 25px;
        width: 30px;
    }
    .hideButton i{
        font-size: 15px;
    }
    .bill{
        font-size: 14px;
    }
}
@media(max-width:578px){
    .hideUsed{
        display: none;
    }
    .hideButton i{
        font-size: 14px;
    }
    .bill{
        font-size: 13px;
    }
}
@media(max-width:465px){
    .hideButton i{
        font-size: 14px;
    }
    .bill{
        font-size: 12px;
    }
}
@media(max-width:420px){
    .hideButton{
        height: 20px;
        width: 15px;
    }
    .hideButton i{
        font-size: 10px;
    }
    .bill{
        font-size: 9.5px !important;
    }
    .bill th{
        font-size: 9.5px !important;
    }
    .bill td{
        font-size: 9.5px !important;
    }
}
@media (max-width:365px){
    .hideButton{
        height: 20px;
        width: 10px !important;
    }
    .hideButton i{
        font-size: 9px;
    }
    .bill td{
        font-size: 8px !important;
    }
    .bill th{
        font-size: 8px !important;
    }
}
@media (max-width:330px){
    .hideButton{
        height: 20px;
        width: 10px !important;
    }
    .hideButton i{
        font-size: 9px;
    }
    .bill td{
        font-size: 7.5px !important;
    }
    .bill th{
        font-size: 7.5px !important;
    }
}