.footer-custom {
    background-color: #222222;
    color: #999999;
}
.col-one h1 {
    color: white;
}
::selection {
    color: white;
    background-color: black;
}
.col-two .info h5 {
    font-weight: bolder;
}
.footer-custom ul li {
    list-style-type: none;
    margin-top: 10px;
}
.col-two .list-icons {
    display: flex;
    justify-self: center;
    align-items: center;
}
.list-icons li {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}
.footer-custom li a {
    display: block;
    width: 40px;
    height: 40px;
    color: #fff !important;
    border-radius: 250px;
    line-height: 42px;
    text-align: center;
}
.fb a {
    background-color: #2d5f9a;
}
.tw a {
    background-color: #00c3f3;
}
.fl a {
    background-color: #ff0084;
}
.pt a {
    background-color: #bd081c;
}
.ig a {
    background-color: #405de6;
}
.col-three .newsletter h5 {
    text-transform: uppercase;
    font-weight: bolder;
}
.col-three input {
    text-align: center;
}
.col-three button {
    border: 2px solid white;
    color: white;
    font-weight: bolder;
    margin-top: 5px;
    background-color: #efa697;
}
.col-three button:hover {
    color: white;
    font-weight: bolder;
    background: #333333;
    border-color: #333333;
}

.row:nth-child(1) {
    padding-top: 35px;
    padding-bottom: 35px;
}
.row:nth-child(2) {
    padding-top: 25px;
    padding-bottom: 25px;
}
.copyright {
    border-top: 1px solid #999999;
}
@media(max-width:578px){
    /* .footer-custom{
        position: fixed;
    } */
    .hiden-for-mobile{
        display: none;
    }
    .copyright{
        display: flex;
        justify-content: center;
        border: none;
        margin-top: 1px;
    }
}
