.detail_left{
    margin-left: 10px;
    font-family: "Lucida Sans Unicode", Courier, monospace;
}
.detail_left h2{
    font-size: 32px;
    font-weight: 300;
    color: #333333;
}
.detail_left h4{
    font-size: 20px;
    font-weight: 600;
    color: #EFA697;
    margin-top: 10px;
    font-family: "Lucida Sans Unicode", Courier, monospace;
}
.detail_left p{
    color: #666666;
    font-size: 15px;
    margin: 20px 30px 20px 0;
    line-height: 1.9em;
    font-family: "Lucida Sans Unicode", Courier, monospace;
} 
.detail_right img{
    width: 100%;
}
.underAdd1,.underAdd2,.underAdd3{
    color: #333333;
}

.avt-name{
    display: flex;
    align-items: center;
}
.avt-name h4 small{
    font-size: 16px;
}
.btn-rt{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 1em;
}
.MuiRating-label{
    margin-bottom: 0 !important;
}
.detail_left input::-webkit-outer-spin-button,
.detail_left input::-webkit-inner-spin-button {
    -webkit-appearance: push-button;
    margin: 0;
}
.detail_left input[type="number"] {
    -moz-appearance: textfield;
    text-align: center;
    position: relative;
    top: 1px;
    border-radius: 2px;
}
.detail_left Button{
    border-radius: 2px;
}
@media (max-width:1135px){
    .detail_left p{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 12;
        -webkit-box-orient: vertical;
    }
}
@media (max-width:900px){
    .detail_left p{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 9;
        -webkit-box-orient: vertical;
    }
}
@media (max-width:850px){
    .detail_left p{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
    }
}
/* @media (max-width:766px){
    .underAdd1{
        margin-left: 40px;
    }
    .underAdd3{
        margin-left: 40px;
    }
} */
@media (max-width:600px){
    .detail_left p{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}
@media (max-width:566px){
    .desfake{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
    }
}
@media (max-width:498px){
    .detail_left h2{
        font-size: 22px;
    }
    .detail_left h4{
        font-size: 18px;
    }
}
@media (max-width:426px){
    .detail_left h2{
        font-size: 20px;
    }
    .detail_left h4{
        font-size: 16px;
    }
    .detail_left Input{
        width: 40px !important;
    }
    .detail_left Button{
        width: 99px;
        height: 38px;
        font-size: 12.5px !important;
        padding: 0px;
        font-weight: 300;
    }
    .desfake{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
    }
    .underAdd1,.underAdd2,.underAdd3{
        margin-left: 20px;
    }
    .detail_left p{
        font-size: 13px;
    }
}

