.profile-card {
    border-radius: 6px;
    text-align: center;
    margin-bottom: 20px;
    padding: 30px;
    margin-top: 100px;
    opacity: 0.8;
}

.user-admin {
    display: flex;
    justify-content: center;
}
@media (max-width:600px){
    .profile-card{
        background-color: transparent;
        box-shadow: none;
        border: none;
        margin-top: 60px;
        opacity: 1;
    }
    #email_profile,#firstName_profile,#lastName_profile,#address_profile,#phone_profile{
        color: #dddada;
    }
    .user-admin{
        height: 700px;
    }
}

@media (max-width:360px){
    .profile-card{
        background-color: transparent;
        box-shadow: none;
        border: none;
        margin-top: 60px;
        opacity: 1;
    }
    #email_profile,#firstName_profile,#lastName_profile,#address_profile,#phone_profile{
        color: #dddada;
    }
    .user-admin{
        height: 700px;
    }
}
