::-webkit-scrollbar { 
    display: none; 
}
.calendar_default_corner{
    display: none !important;
}
abbr[title]{
    text-decoration: none !important;
}
.react-calendar{
    width: 95% !important;
    margin: 30px 18px 2px 10px;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1) !important;
    border-radius: 2px;
    border-bottom: 0.5px solid #dce0e0;
    border-top: none;
    border-left: none;
    border-right: none;
}
.react-calendar__navigation__label{
    background-color: #efa697 !important;
}
.react-calendar__navigation__label__labelText{
    color: #fff;
    font-weight: 600;
    text-transform: capitalize !important;
}
.react-calendar__navigation__arrow {
    background-color: #efa697 !important;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}
.modalHeader p{
    color: #666666;
    display: inline;
    font-weight: 400;
}
.timeSlot{
    box-sizing: border-box;
    line-height: 1.8;
    color: #888;
    display: inline-block;
    /* border-top: 1px solid #ddd; */
}
.timeSlot_hour{
    color: #555;
    font-weight: 700;
}
.timeSlot_button{
    background-color: #84dbd1 !important;
    font-size: 14px !important;
    border: none !important;
    font-weight: 700 !important;
    display: inline-block;
    margin-top: 16px;
}
.timeSlot_amount{
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.7rem;
    display: block;
    line-height: 2.7;
    color: #aaa;
    padding-bottom: 8px;
    /* margin-left: 24px; */
}


.cld{
    margin-top: 7vh;
    width: 100%;
    display: flex;
    font-family: sans-serif;
}
.leftCalendar{
    width: 33.33%;
    margin: 10px 50px 10px 10px;
    padding: 15px;
}
.rightCalendar{
    width: 66.67%;
}
.calendar_default_event_inner {
    background: #2e78d6;
    color: #fff;
    border: none;
    font-size: 10pt;
    padding: 5px;
    opacity: 0.8;
}
.leftCalendar .mid-leftCalendar{
    margin-top: 30px;
}
.leftCalendar .bot-leftCalendar{
    margin-top: 30px;
}
.leftCalendar ul{
    list-style-type: none;
}
.mid-leftCalendar a{
    color: #000;
}
.mid-leftCalendar a:hover{
    text-decoration: none;
    color: #EFA697;
}
.leftCalendar h5{
    font-weight: bolder;
}

@media only screen and (max-width:1300px){
    .cld{
        flex-direction: column-reverse;
    }
    .leftCalendar{
        width: 100%;
    }
    .rightCalendar{
        width: 100%;
        margin: 10px;
    }
}
@media ( max-width:400px){
    .timeSlot_hour{
        font-size: 13px;
        font-weight: 600;
    }
    .timeSlot_button{
        font-weight: 600;
        font-size: 12px !important;
    }
}