.userAdminLock{
    margin-right: 5px;
    margin-bottom: 2px;
}
@media (max-width:560px){
    .userAdminLock,.userAdminDelete{
        height: 35px;
        width: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .userAdminLock i,.userAdminDelete i{
        font-size: 12.5px;
    }
}
@media (max-width:510px){
    .userAdminLock,.userAdminDelete{
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .userAdminLock i,.userAdminDelete i{
        font-size: 11.5px;
    }
    .userAdmin th , .userAdmin td{
        font-size: 12px;
    }
    .hideUserAdmin{
        display: none;
    }
}
@media (max-width:360px){
    .userAdminLock,.userAdminDelete{
        height: 20px;
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .userAdminLock i,.userAdminDelete i{
        font-size: 10px;
    }
}